<html>

<head>
  <link rel="stylesheet" href="/css-files/login-signup.css">
</head>

<body>
  <div>

    <% if(err){%>
      <div id="error">
        <h1>
          <%=message%>
        </h1>
      </div>
      <% }%>

        <div>

          <form method="post" action="/updateProduct" enctype="multipart/form-data">
            <input required name="itemName" value="<%=data.itemName%>" placeholder="Type Name of Product" />
            <input required name="itemPrice" value="<%=data.itemPrice%>" placeholder="Type Price of Product" />
            <input required name="itemDescription" value="<%=data.itemDescription%>" placeholder="Type Description of Product" />
            <input required name="itemQuantity" value="<%=data.itemQuantity%>" type="number" placeholder="Type Quantity of Product" />
            <input name="image" type="file" id="image" placeholder="Product image">
            <input class="button" type="submit" value="UPDATE PRODUCT" />
          </form>
          <p id="paraline"> want to Update Product later? <a id="anchor" href="/">Back to Homepage!</a> </p>
        </div>
  </div>
</body>

<script>
  var errorDiv = document.getElementById("error");
  setTimeout(function () {
    errorDiv.style.display = "none";
  }, 5000)
</script>

</html>